.main-head {
  margin: 3%;
}

#section-1 {
  gap: 5%;
}

.secondary-head {
  margin: 10%;
}

.ref-btn {
  width: 50%;
  height: 30%;
}

.my-table {
  width: 80%;
  margin-left: 10%;
  margin-top: 3%;
  height: 45%;
}

.section-2 {
  width: 60%;
  margin: 10%;
}
